@import url('https://fonts.googleapis.com/css?family=Lato');
 @import url('https://fonts.googleapis.com/css?family=Merriweather|PT+Serif|Roboto');
 h1 {
    font-size: 40px;
    color: white;
    font-family:'Lato', sans-serif;
    font-weight: bold;
}
div {
    color: white;
    font-family:'Lato', sans-serif;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
 li a:hover {
    background-color: #111;
}
.ambient-text {
    color: white;
    font-family:'Lato', sans-serif;
}
.dateStyle {
    font-family:'PT Serif', serif;
    font-size: 20px;
    opacity: 0.9;
    transition-duration: 0.4s;
    margin: 5px;
}
.timeStyle {
    font-family:'PT Serif', serif;
    font-size: 80px;
    opacity: 0.9;
    transition-duration: 0.4s;
}
.button {
    font-family: sans-serif;
    background-color: #381069;
    position: fixed;
    border: 2px solid white;
    color: white;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: 0.4s;
    width: 120px;
    bottom: 10;
    float: none;
    margin: 20px;
}
.lineStyle {
    width: 50%;
    opacity: 0.9;
    transition-duration: 0.4s;
    background-color: white;
}
.lineStyle:hover {
    width:60%;
    opacity:100%;
}
.button:hover {
    background-color: white;
    color: black;
}
#backgroundStyle {
    z-index: -2;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.current {
    background-color: grey;
}
.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition-duration: 0.4s;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition-duration: 0.4s;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition-duration: 0.4s;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
    transition-duration: 0.4s;
}
.mantraStyle {
    text-align: center;
    font-family:'PT Serif', serif;
    font-size: 40px;
    padding: 2px;
    margin-bottom: 95px;
    transition-duration: 0.4s;
    opacity: 0.9;
}
/* Create two unequal columns that floats next to each other */
.introductionStyle {
    width:50%;
    font-family:'Merriweather', serif;
    font-size: 18px;
    text-align: left;
    margin:auto;
}
/* Left column */
 .leftcolumn {
    float: left;
    width: 75%;
}
/* Right column */
 .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
/* Fake image */
 .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
/* Add a card effect for articles */
 .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
/* Clear floats after the columns */
 .row:after {
    content:"";
    display: table;
    clear: both;
}
/* Footer */
 .footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    margin-top: 20px;
    position: fixed;
    width:100%;
    bottom: 0;
    left: 0;
    font-family:'Lato', serif;
    font-size: 10px;
    color:#aaa;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
 @media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}